.SupportButton {
    margin-top: 10px;
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 12px;
    cursor: pointer;
}


.TransactButton {
    margin-top: 10px;
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 12px;
    cursor: pointer;
}